In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [16]:
Total_Schools = len(school_data_complete["school_name"].unique())
Total_Students = school_data_complete["Student ID"].count()
Total_Budget = school_data_complete["budget"].sum()
Average_Math_Score = school_data_complete["math_score"].mean()
Average_Reading_Score = school_data_complete["reading_score"].mean()
math_score_pass = school_data_complete[(school_data_complete["math_score"]>=70)].count()["math_score"] 
reading_score_pass = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["reading_score"]
math_pass_percent = (math_score_pass/Total_Students)*100
reading_pass_percent = (reading_score_pass/Total_Students)*100
overall_passing_rate = (Average_Math_Score + Average_Reading_Score)/2

In [17]:
district_summary = pd.DataFrame({"Total Schools":[Total_Schools],
                                 "Total Students":[Total_Students], 
                                 "Total Budget":[Total_Budget], 
                                 "Average Math Score":[Average_Math_Score], 
                                 "Average Reading Score":[Average_Reading_Score], 
                                 "% Passing Math":[math_pass_percent], 
                                 "% Passing Reading":[reading_pass_percent], 
                                 "% Overall Passing Rate":[overall_passing_rate]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.431606